<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conexaocomservidor" connectionString="Server = localhost; Database = bd_paiva; Uid = root; Pwd = 75395146;"/>
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
  </startup>
</configuration>